/*GENERAL SETTINGS*/
body {
    background: linear-gradient(180deg, rgba(12, 27, 51, 1) 0%, rgba(22, 48, 93, 1) 35%, rgba(49, 85, 147, 1) 100%);
}

/*HEADER*/
#header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C1B33;
    border-bottom: 1px solid white;
}

#container-logo {
    margin-left: 1em;
}

#logo {
    width: 45px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#menu {
    margin-right: 2em;
}

#menu ul {
    display: flex;
}

#menu ul li {
    margin: 0 1em;
    text-transform: uppercase;
}


.titlesMenu {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.titlesMenu:hover {
    color: white;
    text-decoration: none;
}

#signup-or-login {
    background-color: white;
    text-align: center;
    position: absolute;
    right: .5em;
    top: 4.5em;
    width: 93px;
    border-radius: 15px;
    display: none;
}

#signup-or-login li {
    margin-bottom: 1em !important;
}


.subMenu {
    color: #0C1B33;
    text-decoration: none;
    font-size: 15px;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid white;
    position: relative;
    bottom: 2em;
}

/*-----------------------------FAQ------------------------------*/
#faq-section {
    margin-top: 5em;
    height: 82vh;
}

#stadium {
    position: absolute;
    width: 100%;
}

#stadium-big-screen {
    display: none;
}

#messi-question {
    display: none;
}

#container-questions-answers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.questions-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1em 0;
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
    height: 11vh;
    padding: 0 1em;
    box-shadow: 0 0 6px white;
}

.questions-answers h2 {
    font: italic 18px/1.4em impact, sans-serif;
    color: white;
    text-shadow: #9FD7F5 0px 0px 8px;
    margin-bottom: 0.5em;
}

.answers {
    color: white;
}

#question-messi {
    display: none;
}

#container-image-messi-faq {
    position: absolute;
    display: flex;
    bottom: 8%;
    overflow: hidden;
    justify-content: center;
}

#image-messi-faq {
    width: 133%;
}

.flashLights {
    width: 10%;
    position: absolute;
    animation: shiningStar 1s infinite;
}

.flashLights-delay {
    width: 10%;
    position: absolute;
    animation: shiningStar 1s infinite;
    animation-delay: .5s;
}

@keyframes shiningStar {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*ANIMATION FLASHLIGHT*/
.flashLights {
    display: block;
}

.flashLights-delay {
    display: block;
}

.flashLights-1 {
    top: 22em;
}

.flashLights-2 {
    top: 28em;
}

.flashLights-3 {
    top: 31em;
    left: 2em;
}

.flashLights-4 {
    top: 26em;
    left: 2em;
}

.flashLights-5 {
    top: 26em;
    right: 1em;
}

.flashLights-6 {
    top: 26em;
    right: 7em;
}

.flashLights-7 {
    top: 30em;
    right: 5em;
}

.flashLights-8 {
    top: 28.5em;
    right: 2em;
}

.flashLights-9 {
    top: 27em;
    left: 7em;
}

.flashLights-10 {
    top: 29em;
    left: 5em;
}

.flashLights-11 {
    top: 27em;
    left: 11em;
}

.flashLights-12 {
    top: 21.5em;
    left: 2em;
}

.flashLights-13 {
    top: 31em;
    right: 0;
}

.flashLights-14 {
    top: 25em;
    right: 4em;
}

.flashLights-15 {
    top: 31em;
    right: 8em;
}

.flashLights-16 {
    top: 30em;
    left: 8em;
}

/*FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #0C1B33;
    height: 10vh;
    width: 100%;
    border-top: 1px solid white;
}

#container-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

footer p {
    color: white;
}

#follow-us {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer ul {
    display: flex;
}

footer ul li a {
    color: #9FD7F5;
    text-decoration: none;
}

.sn-icon {
    margin: 0 0.3em;
    font-size: 1.2em;
}