/*GENERAL SETTINGS*/
body {
    background: linear-gradient(180deg, rgba(12, 27, 51, 1) 0%, rgba(22, 48, 93, 1) 35%, rgba(49, 85, 147, 1) 100%);
}

/*------------------------INDEX-------------------------------*/

/*HEADER*/
#header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C1B33;
    border-bottom: 1px solid white;
}

#container-logo {
    margin-left: 1em;
}

#logo {
    width: 45px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*Hamburger Menu*/
#hamburgerIcon {
    font-size: 25px;
    cursor: pointer;
}

#menuResp {
    display: none;
}

#menuResp a {
    padding: .5em;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.display-menu-resp {
    position: absolute;
    height: 20vh;
    top: 5em;
    right: 0em;
    background-color: #0C1B33;
    width: 100%;
    text-align: center;
    border-top: 1px solid white;
    flex-direction: column;
    justify-content: center;
}

.menuResp {
    color: white;
}

/*Menu-big screen*/
#menu-big-screen {
    display: none;
}

#menu {
    margin-right: 2em;
}

#menu ul li {
    margin: 0 1em;
    text-transform: uppercase;
}

.titlesMenu {
    text-decoration: none;
    color: white;
    border: none;
    background: transparent;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.titlesMenu:hover {
    color: white;
    text-decoration: none;
}

#signup-or-login {
    background-color: white;
    text-align: center;
    position: absolute;
    right: 1em;
    top: 4.3em;
    width: 93px;
    border-radius: 15px;
    display: none;
}

#signup-or-login li {
    margin-bottom: 1em !important;
}

.subMenu {
    color: #0C1B33;
    text-decoration: none;
    font-size: 15px;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid white;
    position: relative;
    bottom: 1.7em;
    left: 1.9em;
}

/*----------------------HIGHLIGHTS PAGE-------------------------*/
#all-highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 75vh;
}

#referee {
    display: none;
}

.size-highlights-vid {
    width: 325px;
    height: 226px;
    overflow: hidden;
    margin: 1em 1em;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 6px white;
}

#container-filter-bars {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5.6em 0 2em 0;
    flex-wrap: wrap;
}

.filter-bars {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin: 1em 1em 0em 1em;
}

.selects-and-button {
    text-decoration: none;
    border-radius: 50px;
    height: 6vh;
    box-shadow: 0 0 4px white;
}

.no-highlights-available {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 80%;
}

.referee {
    width: 100%;
    margin-top: 1em;
    position: relative;
    right: 1.5em;
}

#championship {
    width: 165px;
}

#teams {
    width: 150px;
}

#container-reset-settings {
    border: none;
    display: flex;
    align-items: center;
    width: 150px;
    cursor: pointer;
}

.fa-redo-alt {
    margin: .4em;
}

.style-text-video {
    color: white;
    text-shadow: 0 0 3px white;
    margin-left: 5%;
}


/*FOOTER*/
footer {
    display: flex;
    background-color: #0C1B33;
    height: 10vh;
    width: 100%;
    border-top: 1px solid white;
}

#container-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

footer p {
    color: white;
}

#follow-us {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer ul {
    display: flex;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.sn-icon {
    margin: 0 0.3em;
    font-size: 1.2em;
}