@media screen and (min-width: 500px) and (max-width: 799px) {

    /*MAIN PAGE*/
    .flashLights {
        display: none;
    }

    .flashLights-delay {
        display: none;
    }

    #stadium {
        display: none;
    }

    #triangle-up {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 13px solid white;
        position: relative;
        bottom: 1.8em;
        left: 0;
    }

    #main-image-section {
        margin-top: 0vh;
        overflow: hidden;
        height: 108vh;
    }

    .main-image {
        display: block;
        transform: rotateY(180deg);
    }

    #main-title-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-title-1 {
        font-size: 58px;
    }

    .main-title {
        text-shadow: white 0px 2px 5px;
        font: italic 42px/1.4em impact, sans-serif;
    }

    .main-p {
        font-size: 28px;
        margin-top: 2em;
        width: 64%;
    }

    .football-highlights {
        width: 85%;
        margin-top: 2em;
    }

    .size-lasthighlights-vid {
        width: 400px;
    }

    #container-sections-highlights {
        position: relative;
        background-color: white;
    }

    .h2-last-highlights {
        margin-top: 1em;
    }

    footer {
        position: relative;
        top: 21em;
    }
}

@media screen and (min-width: 800px) {
    .flashLights {
        display: none;
    }

    .flashLights-delay {
        display: none;
    }

    #container-image-bar {
        overflow: hidden;
    }

    #stadium {
        display: none;
    }

    #main-image-section {
        margin-top: 8vh;
        height: 84vh;
    }

    .main-image {
        width: 125%;
        display: block;
        transform: rotateY(180deg);
    }

    #main-title-div {
        top: 12%;
        width: 96%;
    }

    .main-title {
        font: 50px/1.4em impact, sans-serif;
        text-align: right;
    }

    .main-p {
        text-align: right;
        margin: 0;
    }

    .football-highlights {
        width: 60%;
        margin-top: 2em;
    }

    #container-sections-highlights {
        position: relative;
        background-color: white;
    }
}

@media screen and (min-width: 1200px) {

    /*MAIN PAGE*/
    #header {
        border-bottom: none;
    }

    .main-title {
        text-align: left;
        font-weight: 500;
        color: white;
        text-shadow: #ffffff 0px 0px 6px;
        font: italic 71px/1.4em impact, sans-serif;
        margin-left: .3em;
    }

    .main-p {
        display: none;
    }

    .main-image {
        width: 100%;
    }

    #main-image-section {
        margin-top: 0;
        height: 100vh;
    }

    #bar-shape {
        position: absolute;
        top: 10%;
        right: 12em;
        width: 350px;
        height: 782px;
        transform: skew(-26deg);
        background: #132D57;
        opacity: 0.5;
    }

    #container-image-bar a {
        display: block;
        position: absolute;
        text-decoration: none;
        color: black;
    }

    .highlights-main-page {
        top: 45%;
        right: 16em;
    }

    .faq-main-page {
        top: 56%;
        right: 18.5em;
    }

    .login-main-page {
        top: 67%;
        right: 21em;
    }

    .login-main-page i {
        margin-left: .4em;
    }

    .suscription-main-page {
        top: 78%;
        right: 23em;
    }

    .suscription-main-page i {
        margin-left: .5em;
    }

    .icon-menu-main-image {
        font-size: 30px;
        margin: 0px 5em 0 .2em;
    }

    .divs-main-page {
        width: 18em;
        height: 8vh;
        display: flex;
        align-items: center;
        background-color: white;
        opacity: .7;
        border-radius: 30px;
        transition: .5s;
        box-shadow: 9px 3px 8px white
    }

    .divs-main-page:hover {
        opacity: .8;
        transform: scale(1.1);
        /* box-shadow: -9px -3px 8px white; */
    }

    .divs-main-page p {
        margin: 0;
    }

    .football-highlights {
        width: 34%;
        margin-top: 1em;
    }

    #container-sections-highlights {
        bottom: 3em;
        padding: 1em;
    }
}

@media screen and (min-width: 1400px) {
    #main-image-section {
        margin-top: 0;
        height: 115vh;
    }
}