@media screen and (min-width: 500px) {

    /*Hamburger menu*/
    .display-menu-resp {
        height: 24vh;
        top: 4.3em;
    }

    .size-highlights-vid {
        width: 450px;
        height: 297px;
    }

    .style-text-video {
        margin-left: 3%;
    }
}

@media screen and (min-width: 650px) {
    .referee {
        width: 65%;
        margin-top: 1em;
        position: relative;
        right: 5.5em;
    }
}

@media screen and (min-width: 800px) {

    /*Hamburger menu*/
    #hamburgerIcon {
        display: none;
    }

    #menuResp {
        display: none !important;
    }

    #menu-big-screen {
        display: flex;
    }

    #triangle-up {
        bottom: 1.8em;
        left: 0;
    }
}

@media screen and (min-width: 1000px) {
    .no-highlights-available {
        position: relative;
        width: 39%;
        bottom: 6em;
        left: 46%;
        font-size: 30px;
    }

    .referee {
        width: 45%;
        margin-top: 1em;
        position: relative;
        right: 44%;
    }
}